*{
  font-family: 'Quicksand', sans-serif;
}

body{
  margin: 0;
  background-color: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.noDec{
  text-decoration: none;
}

Link{
    margin: 0;
}

.sectionCont{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/*_____________________________________________HEADER_____________________________________________*/

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #F7FBFF;
  padding: 10px 15px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.2);
  border-radius: 0 0 15px 15px;
  z-index: 4;
}
header img{
  width: 45px;
  height: auto;
}
.headerCont{
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #4B718F;
  transition: 250ms;
}
header h3{
  margin: 15px;
}
.headerCont:hover{
  cursor: pointer;
  font-weight: bold;
}

.pathContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.pathContainer img{
  width: 35px;
  height: auto;
}
.pathContainer p{
  margin: 10px;
}
.pathContainer h4{
  color: #4B718F;
  margin: 10px;
}
.pathContainer h4:hover{
  color: #65a8dc;
  cursor: pointer;
}
.pathContainer button{
  margin: 0 10px;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #ff89b0;
  color: white;
  font-size: 1em;
  transition: 250ms;
}
.pathContainer button:hover{
  cursor: pointer;
  transform: scale(1.01);
  font-weight: bold;
  box-shadow: 0 1px 6px rgba(235, 137, 176, 0.73);
}

/*_____Hamburger_____*/

.wrapper-menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
  z-index: 6;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #94bfe0;
  border-radius: 30px;
  width: 100%;
  height: 4px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

/*_____________Overlay______________*/

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  z-index: 6;
}
.overlay-content1 {
  width: 60%;
  height: 100%;
  background-color: #F7FBFF;
  border-radius: 0 15px 15px 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.overlay-content2 {
  width: 50%;
  height: 100%;
  margin-left: -10%;
  background-color: rgba(0,0,0,0.4);
  z-index: 4;
}

/*__________________________________________HOME___________________________________________________*/

.homeCont{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.introCont{
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.dataCont{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 50px 5%;
}
.dataCont h1, h4{
  margin: 0;
  color: #6E93B3;
}
.dataCont h1{
  font-size: 4.5em;
  font-weight: bolder;
}
.dataCont p{
  color: #9e9e9e;
  font-size: 1.2em;
}

.imgRectangle{
  width: 50%;
  height: 100%;
  background-color: #85CFE4;
  border-radius: 0 0 0 80px;
}
.imgRectangle img{
  width: 90%;
  height: auto;
}

.storeCont{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  padding: 10px;
  background-color: #7fc6cb;
  border-radius: 10px;
  transition: 250ms;
}
.storeCont p{
  margin: 10px;
  color: #4B718F;
  font-weight: bolder;
}
.storeCont:hover{
  transform: scale(1.015);
  cursor: pointer;
  box-shadow: 0 2px 10px #a5c7e2;
}

.buttonStart{
  border: none;
  border-radius: 30px;
  padding: 5px 30px;
  background-color: coral;
  color: white;
  font-size: 1.5em;
  outline: none;
  transition: 250ms;
}
.buttonStart:hover{
  background-color: #f16633;
  transform: scale(1.015);
  cursor: pointer;
  box-shadow: 0 2px 10px #ffa78b;
}

.sectionDataCont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.patientDataCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 70vh;
  padding: 5%;
}
.patientDataCont h3{
  font-size: 2.5em;
  margin: 10px;
  color: #6E93B3;
}
.patientDataCont p{
  color: #9e9e9e;
  font-size: 1.2em;
}
.patientDataCont img{
  height: 65%;
}

.goButton{
  border: none;
  padding: 5px 30px;
  border-radius: 30px;
  font-size: 1.2em;
  outline: none;
}

.green{
  background-color: #56D198;
  color: white;
  transition: 250ms;
}
.green:hover{
  transform: scale(1.01);
  cursor: pointer;
  background-color: #32b176;
  box-shadow: 0 2px 6px #56D198;
  font-weight: bold;
}
.green:active{
  transform: scale(1);
  background-color: #56D198;
  font-weight: normal;
  cursor: auto;
  box-shadow: none;
}

.red{
  background-color: #F28285;
  color: white;
  transition: 250ms;
}
.red:hover{
  transform: scale(1.01);
  cursor: pointer;
  background-color: #de6366;
  box-shadow: 0 2px 6px #F28285;
  font-weight: bold;
}
.red:active{
  transform: scale(1);
  background-color: #F28285;
  font-weight: normal;
  cursor: auto;
  box-shadow: none;
}

.psychDataCont{
  padding: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.psychDataCont img{
  width: 40%;
}

.psychInfo{
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.psychInfo h3{
  font-size: 2.5em;
  color: #6E93B3;
  margin: 10px;
}
.psychInfo p{
  color: #9e9e9e;
  font-size: 1.2em;
}

.blue{
  background-color: #60BBC5;
  color: white;
  transition: 250ms;
}
.blue:hover{
  transform: scale(1.01);
  cursor: pointer;
  background-color: #60BBC5;
  box-shadow: 0 2px 6px #60BBC5;
  font-weight: bold;
}
.blue:active{
  transform: scale(1);
  background-color: #60BBC5;
  font-weight: normal;
  cursor: auto;
  box-shadow: none;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d8faff;
  background-color: #7cb8c9;
  font-weight: bolder;
  border-radius: 20px 20px 0 0;
  box-shadow: -1px -1px 8px #d9d9d9;
  width: 94%;
  padding: 3%;
}

.footerDataCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.socialColumn{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
}
.socialColumn h4{
  margin:10px;
}

.socialMediaList{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.icon{
  transition: 250ms;
  border-radius: 10px;
  margin: 10px;
}
.icon:hover{
  transform: scale(1.1);
  color: #557e9e;
}

.additionalInfo{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-evenly;
}
.additionalInfo a{
  color: #557e9e;
  font-size: 10px;
  text-decoration: none;
  padding: 0;
}
.additionalInfo a:hover{
  color: #659fcb;
}

/*__________________________________________EDUCATION___________________________________________________*/

.education{
  height: 100%;
}

.firstRowCont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.topArea{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: start;
  height: 20%;
}

.topArea h2{
  margin: 0 15px;
  color: #336083;
  font-weight: bolder;
  font-size: 2em;
  width: 200px;
}

.topArea input{
  border-radius: 30px;
  outline: none;
  border: solid gray 1px;
  padding: 9px;
  width: 300px;
}

.categoryCont{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  padding: 0;
  overflow: auto;
  border-radius: 5px;
  box-shadow: -3px 3px 3px rgba(0,0,0,0.1);
  width: 100%;
  z-index: 3;
}

.categoryBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px 15px 15px 15px;
  box-shadow: -2px 2px 4px rgba(0,0,0,0.2);
  transition: 250ms;
}
.categoryBox:hover{
  transform: translateY(-1px);
  box-shadow: -2px 2px 8px rgba(0,0,0,0.4);
  cursor: pointer;
}

.categoryBox img{
  width: 30px;
}

.categoryBox h4{
  margin-left: 10px;
}

.contentBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-y: auto;
  overflow-x: hidden;
  height: 70%;
  background-color: #f6f6f6;
}

.contentBox h2{
  margin: 10px;
}

.news{
  background-color: #D3E4FD;

}
.news h4{
  color: #5681BF;
}

.blogCat{
  background-color: #FFCCCC;
}
.blogCat h4{
  color: #CB4242;
}

.tips{
  background-color: #FFD4A8;
}
.tips h4{
  color: #E17B12;
}

.blogCard{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 300px;
  width: 80%;
  background-color: white;
  box-shadow: -3px 3px 6px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 300ms;
  margin: 25px;
}

.blogCard img{
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.blogCard:hover{
  transform: translateY(-3px);
  box-shadow: -3px 3px 6px rgba(0,0,0,0.3);
}

.searchBtn{
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-right: 4px;
  font-size: 15px;
  background-color: #0582a1;
  color: white;
  outline: none;
  box-shadow: -3px 3px 6px rgba(0,0,0,0);
  transition: 300ms;
}

.searchBtn:hover{
  background-color: #1d8ca8;
  box-shadow: -3px 3px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

.searchBtn:active{
  background-color: #34afce;
  box-shadow: none;
  cursor: auto;
}

.search{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filt{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}
.filt img{
  width: 25px;
  margin-right: 10px;
}

.filt img:hover{
  transform: translateY(-1px);
  cursor: pointer;
}

.resumenBlog{
  padding: 20px;
  text-align: justify;
}
.resumenBlog p{
  margin: 5px;
  color: #8d8d8d;
}
.resumenBlog h2{
  margin: 10px 5px;
  color: #4B718F;
}

.readMoreBtn{
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  outline: none;
  background-color: #ffa952;
  color: white;
  font-weight: bold;
  margin: 15px 0;
  transition: 300ms;
}

.readMoreBtn:hover{
  background-color: #ff962d;
  box-shadow: -3px 3px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

.readMoreBtn:active{
  background-color: #e37b14;
  box-shadow: none;
  cursor: auto;
}


/*_______________________________________ACTIVITIES__________________________________________*/

.activities{
  height: 100%;
}

/*__________________________________________LOGIN________________________________________________*/

.loginCont{
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background: linear-gradient(135deg, #A2D3E9, #4d9fbb);
  height: 100%;
  width: 100%;
  z-index: 5;
}

.resButton{
  display: flex;
  padding: 20px 20px;
}

.resButton button{
  border: none;
  border-radius: 30px;
  padding: 6px 10px;
  background-color: #656668;
  color: white;
  font-size: 1.1em;
  transition: 250ms;
}

.resCont{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align:center;
  padding: 10px 10px;
}

.resCard{
  align-items: center;
  padding: 12px 10px;
  font-size: 20px;
}

.resCard h2{
  color:white;
}

.resCard button{
  margin: 0 10px;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #ff89b0;
  color: white;
  font-size: 1em;
  transition: 250ms;
}
.resCard button:hover{
  cursor: pointer;
  transform: scale(1.01);
  font-weight: bold;
  box-shadow: 0 1px 6px rgba(235, 137, 176, 0.73);
}

.resIn{
  border: 3px solid #FFFFFF;
  background:transparent;
  border-radius: 40px;
  color: #393939;
  outline: none;
  font-size: 20px;
  padding: 10px 20px;
  width: 70%;
}

.resIn:Focus{
  background: #FFFFFF;
  border: 3px solid #559EEA;
}

.resIn::placeholder{ 
  color: white;
  font-weight: bold;
}

/*__________________________________________MOBILE___________________________________________________*/

.copyRight{
  font-size: 12px;
  color: #214865;
  font-weight: bold;
}

@media only screen and (max-width: 1025px) {
  .pathContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .pathContainer{
    font-size: 1.5em;
  }
  .pathContainer img{
    display: none;
  }
  .introCont{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .dataCont{
    width: 90%;
    justify-content: start;
    padding: 30px 5%;
  }
  .dataCont h1{
    font-size: 4em;
  }
  .imgRectangle{
    width: 100%;
    border-radius: 30px;
  }
  .imgRectangle img{
    width: 100%;
  }
  .storeCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 10px;
    padding: 5px;
    background-color: #7fc6cb;
    border-radius: 10px;
    transition: 250ms;
  }
  .storeCont p{
    margin: 10px 10px;
    color: #4B718F;
    font-weight: bolder;
    font-size: 1em;
  }
  .storeCont img{
    width: 40px;
  }
  .sectionDataCont{
    display: flex;
    flex-direction: column;
  }
  .patientDataCont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    height: 70vh;
    padding: 5%;
    margin-bottom: 30px;
  }
  .patientDataCont img {
    height: 50%;
  }
  .psychDataCont{
    flex-direction: column;
  }
  .psychDataCont img{
    width: 90%;
    margin-top: 10px ;
    height: auto;
  }

  .psychInfo{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .messageCont{
    width: 80%;
    padding: 10px;
  }
  .logoCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }
  .pathContainer button{
    padding: 5px 10px;
    background-color: #ff89b0;
  }
  .footerDataCont {
    flex-direction: column;
  }
  .additionalInfo{
    align-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .additionalInfo a{
    margin: 5px;
    text-align: center;
  }
  .copyRight{
    margin: 20px;
  }
  .icon{
    margin: 8px;
    font-size: 30px;
  }
  .topArea{
    height: 30%;
  }
  .topArea input{
    width: 60vw;
    padding: 10px;
  }
  .topArea button{
    padding: 10px 15px;
  }
  .additionalInfo a {
    font-size: 15px;
  }
  .contentBox{
    height: 60%;
  }
  .blogCard{
    flex-direction: column;
    height: auto;
    width: 90%;
    margin-bottom: 15px;
  }

  .blogCard img{
    height: auto;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

